.mainContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 5vh;
    padding-top: 5vh;
    border-top: 2px solid orange;

    .notice {
        width: 85%;
        border-bottom: 3px dotted orange;
    }

    .notice:last-of-type {
        border-bottom: none;
    }

    button {
        border: none;
        background-color: white;
    }

    .fa-trash-can {
        color: red;
        font-size: 30px;
    }

    button:hover .fa-trash-can {
        color: darkred;
        cursor: pointer;
    }

    button:disabled .fa-trash-can {
        color: grey;
    }
}